@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>ASP.NET Core Contact Manager Application</h2>
    <h2>23F Information Encoding Standards - 02</h2>
    <h1>OUR TEAM</h1>
    
    <h3>Sahil Negi – 200528456</h3>
    <h3>Saurabh Mehanti – 200525033</h3>
    <h3>Rajkumar Vijaybhai Patel - 200523640</h3>
        



</div>
